
.header-photo {
  width: 100%;
  min-height: 300px;
  position: absolute;
  z-index: -2;
}

#canvasDiv {
  cursor: url(pencil.png), crosshair;
}

.navbar-doyung {
  width: 100%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position:fixed;
  z-index:1;
  background-color: #ffffff;
}

.navbar-heading {
  font-family: 'Karla';
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-link {
  color: #000000;
}

.navbar-link:hover {
  color: #999999;
  text-decoration: none;
}

.body-wrapper {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 30px;
  margin: 0 auto;
  background-color: #FFFFFF;  
}

.section-text {
  font-family: 'Karla';
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 5px;
  padding-top: 10px;
}

.footer {
  margin-top: 10px;
  height: 20px;
  background-color: #ffffff;
}
