
/*full body of the site*/

.preload { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

body {
  background-color: #FFFFFF; 
}

#speakerdeckmyhouse {
  box-shadow: rgb(0 0 0 / 7%) 0px 5px 20px;
  max-height: 800px;
}

/*------- Head Photo + Text Shenanigans --------------------------*/

.name-photo {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.goodies {
  margin-left: 7%;
  margin-right: 7%;
  text-align:center;
}

.storygoodies {
  margin-left: 15%;
  margin-right: 15%;
  text-align:center;
}

.body-wrapper {
  margin-top: 30px;
  background-color: #FFFFFF; 
  text-align:center;
}

.page-title {
  font-family: 'Karla';
  font-style: italic;
  font-weight: bold;
  color: #1D1D1D;
  letter-spacing: 1px;
}

.page-description-med {
  font-family: 'Karla';
  font-weight: bold;
  font-size: 22px;
  color: #1D1D1D;
}

.page-description {
  font-family: 'Karla';
  font-size: 18px;
  color: #5D5D5D;
}
/*-------- The Modal thing -------*/
.modalimg {
  border-radius: 5px;
  cursor: pointer;
}

.modalimg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 900px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* The Close area */
.close {
  position: absolute;
  width: 100%;
  margin-top: -100px;
  opacity: 0%;
  height: 100%;
}

.close:hover,
.close:focus {
  opacity: 0%;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*-------- Content --------------------------*/
.content-photo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 550px;
}

.content-photo-med {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 400px;
}


.wide-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.content-photo-small {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
}

.video-layout {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-------- New Sidebar -----------------------*/

.photo-grid {
  margin: 0.5em auto;
  padding-left: 0px;
}

.photo-grid-small {
  margin: 0.5em auto;
  padding-left: 0px;
}

.photo-grid li {
  border: 0px;
  display: inline-block;
  margin: 0px;
}

.photo-grid-small li {
  border: 0px;
  display: inline-block;
  margin: 0px;
}

.photo-grid img {
  display: block;
  height: 300px;
}

.photo-grid-small img {
  display: block;
  height: 275px;
}

.photo-grid figure {
  position: relative;
  margin: 0px;
  padding: 5px;
}

.photo-grid-small figure {
  position: relative;
  margin: 0px;
  padding: 5px;
}

.figcaption {
  font-family: 'Karla';
  font-style: italic;
  font-size: 14px;
  color: #2D2D2D;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}
/*-------- Footer Shenanigans ---------------------------*/
.footer-zone {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Karla';
  font-size: 18px;
  color: #5D5D5D;
}


/*-------- Navbar Shenanigans ---------------------------*/

.nav-area {
  margin-top: 40px;
}

.navbar {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  font-family: 'Karla';
  font-size: 18px;
  margin-bottom: 2px;
}

.navbar ul {
  display: inline-block;
  
}

.navbar li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: #ff5ebf;
}

a:hover {
  color: #ff5ebf;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: #ff5ebf;
}

.active {
  color: #2D2D2D;
  font-weight: bold;
  text-decoration: underline;
}