
/*full body of the site*/

.preload { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

body {
  background-color: #FFFFFF; 
}

/*------- Head Photo + Text Shenanigans --------------------------*/

.name-photo {
  height: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.goodies {
  position: absolute;
  margin-left: 7%;
  margin-right: 7%;
  text-align:center;
}

/*-------- New Sidebar -----------------------*/

.photo-grid {
  margin: 0.5em auto;
  padding-left: 0px;
}

.photo-grid li {
  border: 0px;
  display: inline-block;
  margin: 0px;
}

.photo-grid img {
  display: block;
  height: 300px;
}

.photo-grid figure {
  position: relative;
  margin: 0px;
  padding: 5px;
}

.figcaption {
  font-family: 'Karla';
  font-style: italic;
  font-size: 14px;
  color: #2D2D2D;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

/*-------- Navbar Shenanigans ---------------------------*/

.nav-area {
  margin-top: 50px;
}

.navbar {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  font-family: 'Karla';
  font-size: 18px;
  margin-bottom: 2px;
}

.navbar ul {
  display: inline-block;
  
}

.navbar li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: #ff5ebf;
}

.active {
  color: #2D2D2D;
  font-weight: bold;
  text-decoration: underline;
}